# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

name: Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  schedule:
    - cron: "53 0 * * *" # Daily at 00:53 UTC
  # Triggered on push to branch "main" by .github/workflows/release.yaml
  workflow_call:
    outputs:
      artifact-prefix:
        description: build_charm.yaml `artifact-prefix` output
        value: ${{ jobs.build.outputs.artifact-prefix }}

jobs:
  lint:
    name: Lint ${{ matrix.backend }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy: 
      matrix:
        backend: ["s3", "azure_storage", "gcs"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install tox & poetry
        run: |
          pipx install tox
          pipx install poetry
      - name: Run linters
        run: |
          cd ${{ matrix.backend }}
          tox run -e lint

  unit-test:
    name: Unit Test ${{ matrix.backend }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy: 
      matrix:
        backend: ["s3", "azure_storage", "gcs"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install tox & poetry
        run: |
          pipx install tox
          pipx install poetry
      - name: Run tests
        run: |
          cd ${{ matrix.backend }}
          tox run -e unit

  build:
    strategy:
      matrix:
        path:
          - azure_storage/
          - azure_storage/tests/integration/test-charm-azure
          - s3/
          - s3/tests/integration/test-charm-s3
          - s3/tests/integration/test-charm-s3-v0
          - gcs/
          - gcs/tests/integration/requirer-charm
    name: Build charm | ${{ matrix.path }}
    uses: canonical/data-platform-workflows/.github/workflows/build_charm.yaml@v40.0.2
    with:
      path-to-charm-directory: ${{ matrix.path }}
      cache: false

  integration-test:
    name: Integration test charm
    needs:
      - lint
      - unit-test
      - build
    uses: ./.github/workflows/integration_test.yaml
    with:
      artifact-prefix: ${{ needs.build.outputs.artifact-prefix }}
